#client{
    &.wrapper{
        justify-content: space-between;
        align-items: stretch;
        padding: 10px;
        background-color: #eee;

        .row{
            width: 100%;
            margin: 0;

            .categories, .products, .summary{
                border: 2px solid darkgreen;
                border-radius: 15px;
            }

            .categories{
                flex: 1;
                height: 100%;
                overflow-y: scroll;

                img{
                    max-width: 100%;
                }
            }

            .main {
                flex: 4;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                margin-left: 20px;

                .products{
                    flex: 1;
                    display: flex;
                    margin-bottom: 20px;
                    padding: 10px;

                    .product{
                        font-size: 20px;
                        font-weight: bolder;
                        width: fit-content;
                        color: darkgreen;
                        padding: 10px;
                    }
                }

                .summary{
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    padding: 20px;
                    color: #212529;

                    .commandeSummary{
                        flex: 5;
                        display: flex;
                        align-items: stretch;
                        width: 100%;
                        height: 100%;
                        margin-right: 20px;
                        border: 1px solid lightgrey;
                        padding: 10px;
                        background-color: #e6e6e6;

                        > div{

                            margin-right: 30px;

                            p{
                                margin: 0;

                                .material-icons{
                                    font-size: 15px;
                                }
                            }
                        }
                    }

                    .total{
                        flex: 1;
                        display: flex;
                        flex-direction: column;

                        .price{
                            font-size: 25px;
                            margin: 0;
                            border: 1px solid lightgrey;
                            padding-left: 10px;
                            background-color: #e6e6e6;
                        }
                    }
                }
            }
        }
    }
}
