#kitchen{
    flex-direction: column;

    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: fit-content;
        padding: 10px 25px;

        a{
            font-size: 25px;
        }
    }

    .content{
        display: flex;
        width: 90%;
        margin: 50px auto;
    }
}
