@import "header";
@import "aside";

#admin{
    &.wrapper {
        background-color: #eee;

        main{
            position: relative;
            width: calc(100% - 260px);
            height: 100%;

            .content{
                padding: 30px 15px;
                min-height: calc(100vh - 123px);

                .card{
                    font-size: .875rem;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    width: 100%;
                    margin: 30px 0;
                    border: 0;
                    border-radius: 6px;
                    color: #333;
                    background: #fff;
                    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);

                    > .card-header{
                        position: relative;
                        top: -20px;
                        margin: 0 15px;
                        padding: 15px;
                        border-radius: 3px;
                        border-bottom: none;
                        background-color: #00bcd4;
                        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
                        z-index: 1;

                        .card-title{
                            color: white;
                            margin-bottom: 3px;
                        }

                        .card-category{
                            margin: 0;
                            color: white;
                        }

                    }
                    > .card-body{
                        table{
                            img{
                                width: 200px;
                            }
                            .action{
                                display: flex;
                                button{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    p{
                                        margin: 0 0 0 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


