aside{
    width: 260px;
    background: #fff;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
    z-index: 3;

    .sidebar-header{
        padding: 15px 0;
        margin: 0;
        display: block;
        position: relative;
        z-index: 4;

        a {
            font-size: 25px;
            font-weight: bold;
            line-height: 30px;
            text-transform: uppercase;
            display: block;
            padding: 5px 0;
            color: #3c4858;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;

            &:hover{
                text-decoration: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 15px;
            height: 1px;
            width: calc(100% - 30px);
            background-color: hsla(0,0%,71%,.3);
        }
    }

    .sidebar-wrapper {
        position: relative;
        width: 260px;
        height: calc(100vh - 75px);
        padding-bottom: 30px;
        overflow: auto;
        z-index: 4;

        .nav {
            display: block;
            list-style: none;
            margin-top: 20px;
            margin-bottom: 0;
            padding-left: 0;

            a {
                display: flex;
                font-size: 15px;
                margin: 10px 15px 0;
                padding: 10px 15px;
                border-radius: 3px;
                color: #3c4858;

                i {
                    font-size: 24px;
                    line-height: 30px;
                    width: 30px;
                    margin-right: 15px;
                    color: #a9afbb;
                    text-align: center;
                }

                p {
                    position: relative;
                    display: block;
                    height: auto;
                    margin: 0;
                    line-height: 30px;
                    white-space: nowrap;
                }
            }

            &:first-child > a{
                margin: 0 15px;
            }

            .active > a {
                background-color: #00bcd4;
                box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,188,212,.4);

                i, p {
                    color: white;
                }
            }
        }
    }
}