header{
    position: absolute;
    width: 100%;
    height: auto !important;
    padding: 10px 0 !important;
    color: #555;
    background-color: white;
    z-index: 2;

    .container-fluid {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .navbar-wrapper {
            display: inline-flex;
            align-items: center;

            .navbar-brand {
                font-size: 1.125rem;
                line-height: 30px;
                position: relative;
                height: 50px;
                margin-left: 1rem;
                margin-bottom: 0;
                padding: .625rem 0;
                color: inherit;
            }
        }

        li{
            .nav-link {
                font-size: 12px;
                line-height: 20px;
                text-transform: uppercase;
                position: relative;
                margin-left: 5px;
                padding: 10px 15px !important;
                border: none;
                border-radius: 3px;
                color: inherit;
                background-color: transparent;

                .material-icons {
                    font-size: 1.25rem;
                    max-width: 24px;
                    margin-top: -3px;
                    top: 0;
                    position: relative;
                    margin-right: 3px;
                }

                .ripple-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    pointer-events: none;
                    border-radius: inherit;
                }

                .notification {
                    position: absolute;
                    top: 0;
                    border: 1px solid #fff;
                    right: 10px;
                    font-size: 9px;
                    background: #f44336;
                    color: #fff;
                    min-width: 20px;
                    padding: 0 5px;
                    height: 20px;
                    border-radius: 10px;
                    text-align: center;
                    line-height: 19px;
                    display: block;
                }
            }
        }

    }

}