@import "~bootstrap/scss/bootstrap";

body{
    font-family: sans-serif;
    height: 100vh;
    color: #cfcfd1;

    .wrapper{
        position: relative;
        top: 0;
        display: flex;
        height: 100vh;
        background-color: #2a2a2e;
    }
}


.forms{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;

    .authForm, .adminForm{
        display: flex;
        flex-direction: column;
        justify-content: center;

        *{
            font-size: 20px;
        }

        p{
            font-weight: bold;
            text-align: center;
            margin: 0 0 10px;
        }

        input, .input-group-text{
            margin-bottom: 10px;
        }
    }
}
